	body{
		background-color: #00C8F8;
		width: 526px;
		position: relative;
	    -moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select:none;
		user-select:none;
	}

	main{
		position:absolute;
		left:-8px;
		top:-8px;
		width: 540px;
	}

	hr { 
	    display: block;
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
	    margin-left: auto;
	    margin-right: auto;
	    border-style: inset;
	    border-width: 1px;
	}

	div[data-avatar-type = "type1"],
	div[data-avatar-type = "type2"]{
		background: url("images/gender_icon.png") no-repeat 0 0;
		width: 65px;
		height: 65px;
	}

	div[data-avatar-type = "type1"]{
		background-position: 0 0;
	}

	div[data-avatar-type = "type2"]{
		background-position: -65px 0;
	}

	div[data-activity-type = "food"],
	div[data-activity-type = "diaper"],
	div[data-activity-type = "weight"]{
		background: url("images/activities.png") no-repeat 0 0;
		width: 65px;
		height: 65px;
	}

	div[data-activity-type = "food"]{
		background-position: 0 0;
	}

	div[data-activity-type = "diaper"]{
		background-position: -65px 0;
	}

	div[data-activity-type = "weight"]{
		background-position: -130px 0;
	}

	div[data-diaper-type = "pooped"],
	div[data-diaper-type = "peed"]{
		background: url("images/diapers.png") no-repeat 0 0;
		width: 65px;
		height: 65px;
	}

	div[data-diaper-type = "peed"]{
		background-position: 0 0;
	}

	div[data-diaper-type = "pooped"]{
		background-position: -65px 0;
	}

	/*******	Styling NEXT and BACK buttons	********/

	.button {
		display: inline-block;
		position: relative;
		color: #888;
		text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
		text-decoration: none;
		text-align: center;
		padding: 8px 12px;
		font-size: 12px;
		font-weight: 700;
		font-family: helvetica, arial, sans-serif;
		border-radius: 4px;
		border: 1px solid #bcbcbc;

		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
		box-shadow: 0 1px 3px rgba(0,0,0,0.12);

		background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,193,215,1) 100%);
		background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,193,215,1) 100%);
	}

	.button:hover {
		color: #555;
	}

	.button:active,
	.button:active:after,
	.button:active:before {
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.button.back {
		border-left: none;
	}

	.button.back:after {
		content: '';
		position: absolute;
		height: 50%;
		width: 15px;
		border-left: 1px solid #bcbcbc;

		background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
		background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
		left: -5px;
		top: 1px;

		-webkit-transform: skew(-35deg, 0);
		transform: skew(-35deg, 0);
	}

	.button.back:before {
		content: '';
		position: absolute;
		height: 48%;
		width: 15px;
		border-left: 1px solid #bcbcbc;
		bottom: 1px;
		left: -5px;

		-webkit-transform: skew(35deg, 0);
		transform: skew(35deg, 0);

		background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,193,226,1) 100%);
		background-image: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);

		-webkit-box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
		box-shadow: -2px 1px 2px rgba(100,100,100,0.1);
	}

	.button.next {
		border-right: none;
	}

	.button.next:after {
		content: '';
		position: absolute;
		height: 48%;
		width: 15px;
		border-right: 1px solid #bcbcbc;

		background-image: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,193,226,1) 100%);
		background-image: linear-gradient(top, rgba(240,240,240,1) 0%,rgba(239,239,239,1) 10%,rgba(225,223,226,1) 100%);
		right: -5px;
		bottom: 1px;

		-webkit-transform: skew(-35deg, 0);
		transform: skew(-35deg, 0);

		-webkit-box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
		box-shadow: 2px 1px 2px rgba(100,100,100,0.1);
	}

	.button.next:before {
		content: '';
		position: absolute;

		background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
		background-image: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 1%,rgba(240,240,240,1) 100%);
		height: 50%;
		width: 15px;
		border-right: 1px solid #bcbcbc;
		top: 1px;
		right: -5px;

		-webkit-transform: skew(35deg, 0);
		transform: skew(35deg, 0);
	}

	/***************************************************************/


	#bt_header{
		background-color: #00C8F8;
		height: 45px;
		width: 100%;
		position:relative;
		border: thin solid #00C8F8;
	}

	#bt_body{
		background-color: #EBEBEB;
		position:relative;
		height:400px;
		border: 2px solid #61939F;
		width: 99.7%;
		z-index: 5;
	}

	#bt_header > div:first-of-type{
		border: 1px solid #00C8F8;
		float:left;
		width: 90%;
		height:45px;
		left:0;
		top:0;
	}

	#bt_person_profile{
		box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.7);
		background: url("images/profile avatars/Ilia.png") no-repeat 0 0;
		background-size: cover;
		border: 1px solid #61939F;
		border-radius: 4px;
		cursor: pointer;
		float:left;
		width: 9%;
		height:46px;
		z-index: 4;
		margin-top: 1px;
		right:0;
	}


	#bt_title_main{
		position: absolute;
		margin: 12px;
		color: #FFFFFF;
		font-weight: bold;
		font-size: 16px;
	}

	#bt_search_engine >  input[name="search_field"]{
		position: relative;
		font-style: italic;
		font-size: 17px;
		left:27px;
		width: 82%;
		border:0;
	}

	#bt_search_engine >  input[name="search_field"]:focus{
		outline: 0;
	}

	#bt_search_engine_area{
		position: relative;
		margin: 13px;
		left: 130px;
		width: 65%;
		background-color: #FFFFFF;
		border-radius: 4px;
	}

	#bt_search_engine_area > span:first-child{
		position: absolute;			
		width: 17px;
		height: 17px;
		left: 4px;			
		top:50%;								/* center align */
		transform: translate(0, -50%);			/* vertically   */
		cursor: pointer;
		background: url("images/search_icon.png") no-repeat 0 0;
	}

	#bt_search_engine_area > span:last-child{
		position: absolute;	
		width: 17px;
		height: 17px;
		right: 4px;			
		top:50%;								/* center align */
		transform: translate(0, -50%);			/* vertically   */
		cursor: pointer;
		background: url("images/search_close_icon.png") no-repeat 0 0;
	}

	#add_event_button{
		position: absolute;
		bottom: 5px;							/* positioning element to the right */
		right: 5px;								/* bottom corner of the parent element */
		cursor: pointer;
		width: 38px;
		height: 38px;
		background: url("images/add_action_buttons.png") no-repeat 0 0 ;
	}


	.clear{
		clear:both;
	}

	#bt_container{
		/*border: 1px solid #61939F;
		background-color: white;*/
		width:80%;
		height: 78%;
		top:5%;
		position:absolute;								
		margin: auto 9%;
	}

	#welcome_guide_block{
		position: relative;
		border: thin solid #969696;
		display: none;
		cursor: default;
		background: #FFF;
		border-radius: 5px;
		padding:10px 5px;
		width: 100%;
		left:-5px;
		top:8%;
	}
	

	#welcome_guide_block.pseudo-on:before, #welcome_guide_block.pseudo-on:after {
		z-index: -1; 
		position: absolute; 
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%; 
		top: 80%;
		max-width:300px;
		background: rgba(0, 0, 0, 0.7); 
		box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
		transform: rotate(-4deg);
	}

	#welcome_guide_block.pseudo-on:after {
		transform: rotate(4deg);
		right: 10px;
		left: auto;
	}

	#welcome_guide_block > section > h1 {
		font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif; 
		color: #00C8F8;
		text-align: center;
		font-size: 20px;
	}

	#welcome_guide_block > section > p{
		font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
		text-align: justify;
		width: 70%;
		line-height: 170%;
		font-size: 15px;
		margin-right: auto;
		margin-left: auto;
	}

	#welcome_guide_block > section > p > img {
		top: 4px;
		left: 10px;
		width: 20px;
		height: 20px;
		position: relative;	
		cursor: pointer;
	}

	#welcome_guide_block > section > p + img{
		top: 230px;
		left: 225px;
		width: 173px;
		height: 108px;
		z-index: 5;
		opacity: 0;
		position: absolute;

	}

	#create_person_block{
		position: relative;
		border: thin solid #969696;
		display: none;
		cursor: default;
		background: #FFF;
		border-radius: 5px;
		padding-left: 20px;
		width: 95%;
	}

	#create_person_block > section > h1{
		font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif; 
		color: #00C8F8;
		font-size: 20px;
		text-align: center;
	}

	#create_person_block > section > div:first-of-type{
		position: relative;
		left: 10px;
	}

	#create_person_block > section > div:first-of-type label[for="person_nickname"],
	#create_person_block > section > div:first-of-type label[for="person_birthday"]{
		font-size: 17px;
		margin: 0px 10px 10px 0px;
		color: #000000;
		text-shadow: 0px 1px 3px #D3D3D3;
	}

	#create_person_block > section > div:first-of-type label[for="person_nickname"] + input,
	#create_person_block > section > div:first-of-type label[for="person_birthday"] + input{
		margin: 0px 10px 10px 0px;
		padding: 3px 0px 3px 5px;
	}

	#create_person_block > section > div:first-of-type label[for="person_birthday"] + input{
		margin-left:14px;
	}

	#create_person_block > section > div:nth-of-type(2){
		position: relative;
	}

	#create_person_block > section > div:nth-of-type(2) > div#avatar_select_desc + div{
		float: left;
	}

	#create_person_block > section > div:nth-of-type(2) div.avatar{
		cursor: pointer;
	}

	.avatar.selected, 
	.activity.selected,
	.subactivity_diaper.selected{
		opacity: 1;
	}

	.avatar.unselected,
	.activity.unselected,
	.subactivity_diaper.unselected{
		opacity: 0.6;
	}

	.avatar.unselected:hover,
	.activity.unselected:hover,
	.subactivity_diaper.unselected:hover{
		opacity: 1;
	}


	#create_person_block > section hr{
		width: 90%;
		position: relative;
		left: -10px;
	}

	#create_person_block > section > div:nth-of-type(2) + hr{
		top: 10px;
	}

	#create_person_block 	div div[data-avatar-type = "type1"]{
		float: left;
		margin-right: 20px; 
	}

	#create_person_block	div div[data-avatar-type = "type2"] {
		float: left;
		margin-right: 20px; 
	}

	div[data-avatar-type = "type3"].unuploaded,
	div[data-avatar-type = "type3"].uploaded{
		border-radius: 6px;
		width: 65px;
		height: 65px;
	}

	div[data-avatar-type = "type3"].uploaded > img{
		background-color: #FFFFFF;
		border-radius: 6px;
		width: 65px;
		height: 65px;
	}

	#create_person_block 	div[data-avatar-type = "type3"].unuploaded{
		float: right;
		background-color: #EFEFEF;
		border: thin solid #686868;
	}

	#create_person_block 	div[data-avatar-type = "type3"].uploaded{
		float: right;
		border: 0;
	}


	#create_person_block  	div[data-avatar-type = "type3"].unuploaded:before{
		content: "Drop or click to browse";
		font-size: 13px;
		border-radius: 6px;
		text-align: center;
		position: absolute;
		margin: 5px 5px;
		width: 54px;
		height: 54px;
		color: #686868;
		border: thin dashed #686868;
	}

	#create_person_block   input[type=file]{
		display: none;
	}

	#create_person_block > section > div:nth-of-type(2)  input#male_gender{
		margin-left: 55px;
		padding: 3px 0px 3px 3px;
	}

	#create_person_block > section > div:nth-of-type(2)  input#female_gender{
		margin-left: 12px;
		padding: 3px 0px 3px 3px;
	}

	#create_person_block > section > div:nth-of-type(2)  input + label[for="female_gender"] ,
	#create_person_block > section > div:nth-of-type(2)  input + label[for="male_gender"] {
		position: relative;
		cursor: pointer;
		left: -3px;
		top: -2px;
		text-shadow: 0px 1px 3px #D3D3D3;
		font-size: 16px;
	}


	#create_person_block > section > div:nth-of-type(3) #palette_field {
		margin-bottom: 20%;
	}


	#choose_person,
	#wizard_new_activity,
	#diaper_content,
	#food_content{
		position: relative;
		border: thin solid #969696;
		display: none;
		cursor: default;
		background: #FFF;
		border-radius: 5px;
		padding-left: 20px;
		width: 95%;
		height: 100%;
	}

	#choose_person > section > h1,
	#wizard_new_activity > section > h1,
	#diaper_content > section > h1,
	#food_content > section > h1{
		font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif; 
		color: #00C8F8;
		font-size: 20px;
		text-align: center;
	}

	#bt_body >  div:last-of-type{
		position: absolute;
		display: none; 
		bottom: 20px;
		left:35%;
	}

	#bt_body >  div:last-of-type  a.button.next,
	#bt_body >  div:last-of-type  a.button.back{
		margin-left: 10px;
	}

	#avatar_select_desc{
		font-size: 17px;
		float:left;
		margin: 20px 10px;
		color: #000000;
		text-shadow: 0px 1px 3px #D3D3D3;
	}

	#choose_person > section,
	#wizard_new_activity > section,
	#diaper_content > section,
	#food_content > section{
		position: absolute;
		height: 90%;
		width: 90%;
	}

	#choose_person > section > div:first-of-type,
	#wizard_new_activity > section > div:first-of-type,
	#food_content > section > div:first-of-type{
		position: absolute;
		height: 75%;
	}

	/*#food_content > section > div:first-of-type{
		left: 25%;
	}*/

	#choose_person > section > div:first-of-type > div.add_person_button,
	#wizard_new_activity > section > div:first-of-type > div.add_person_button,
	#food_content > section > div:first-of-type > div.add_person_button{
		float:left;
	}

	#choose_person > section > div:first-of-type > div.add_person_button  div,
	#wizard_new_activity > section > div:first-of-type > div.add_person_button  div,
	#food_content > section > div:first-of-type > div.add_person_button  div{
		cursor: pointer;
		position: relative;
		top:15px;
		height: 100px;
	}

	#choose_person > section > div:first-of-type > div.add_person_button  div div,
	#wizard_new_activity > section > div:first-of-type > div.add_person_button  div div,
	#food_content > section > div:first-of-type > div.add_person_button  div div{
		cursor: pointer;
		background: url("images/add_action_buttons.png") no-repeat -39px 0px;
		width: 41px;
		height: 41px;
	}

	#choose_person > section > div:first-of-type > section[data-type="avatar"],
	#wizard_new_activity > section > div:first-of-type > section[data-type="activity"],
	#diaper_content > section > div:first-of-type > section[data-type="subactivity_diaper"],
	#food_content > section > div:first-of-type > section[data-type="subactivity_food"]{
		margin: 10px;
		cursor: pointer;
		float:left;
	}

	#choose_person > section > div:first-of-type > section[data-type="avatar"]   div,
	#wizard_new_activity > section > div:first-of-type > section[data-type="activity"]   div,
	#diaper_content > section > div:first-of-type > section[data-type="subactivity_diaper"]   div,
	#food_content > section > div:first-of-type > section[data-type="subactivity_food"]   div{
		position: relative;
	}

	#choose_person > section > div:first-of-type > section[data-type="avatar"]   div   label,
	#wizard_new_activity > section > div:first-of-type > section[data-type="activity"]   div   label,
	#diaper_content > section > div:first-of-type > section[data-type="subactivity_diaper"]   div   label,
	#food_content > section > div:first-of-type > section[data-type="subactivity_food"]   div   label{
		cursor: pointer;
		display: flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
	}

	#choose_person > section > div:first-of-type > section[data-type="avatar"]   div   label  *:not(input[type=radio]),
	#wizard_new_activity > section > div:first-of-type > section[data-type="activity"]   div   label  *:not(input[type=radio]),
	#diaper_content > section > div:first-of-type > section[data-type="subactivity_diaper"]   div   label  *:not(input[type=radio]),
	#food_content > section > div:first-of-type > section[data-type="subactivity_food"]   div   label  *:not(input[type=radio]){
		cursor: pointer;
		margin-left: 0;
		padding-left: 0;
	}

	#choose_person > section > div:first-of-type > section[data-type="avatar"]   div   label input[type=radio],
	#wizard_new_activity > section > div:first-of-type > section[data-type="activity"]   div   label input[type=radio],
	#diaper_content > section > div:first-of-type > section[data-type="subactivity_diaper"]   div   label input[type=radio],
	#food_content > section > div:first-of-type > section[data-type="subactivity_food"]   div   label input[type=radio]{
		cursor: pointer;
	}


	#diaper_content > section > div:first-of-type{
		position: absolute;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		/*left: 25%;*/
	}


	#diaper_content > section {
		position: relative;
	}


	#food_content > section > div label{
		font-size: 17px;
		margin: 0px 10px 10px 0px;
		color: #000000;
		text-shadow: 0px 1px 3px #D3D3D3;
	}

	#food_content > section > div label input{
		margin: 10px 10px;
		padding-left: 5px;
		width: 15%;
	}

	#food_content   input.datepicker,
	#food_content   input.timepicker,
	#diaper_content   input.datepicker,
	#diaper_content   input.timepicker{
		border: 0;
		width : 30%;
		color: #000000;
		font-size: 17px;
		padding: 2px 5px;
		text-shadow: 0px 1px 3px #D3D3D3;
	}

	/***************    input[type=text] styling    **************/
	#create_person_block 	label[for="person_nickname"] + input,
	#create_person_block 	label[for="person_birthday"] + input,
	#create_person_block 	input#male_gender,
	#create_person_block 	input#female_gender,
	#food_content			input[name="food_amount"],
	#food_content			input[name="food_duration"]{
		border:2px solid #dadada;
		border-radius:5px;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
	}

	#create_person_block 	label[for="person_nickname"] + input:focus,
	#create_person_block 	label[for="person_birthday"] + input:focus,
	#create_person_block 	input#male_gender:focus,
	#create_person_block 	input#female_gender:focus,
	#food_content			input[name="food_amount"]:focus,
	#food_content			input[name="food_duration"]:focus{
		outline:none;
		border-color:#9ecaed;
		box-shadow: 0 0 5px rgba(81, 203, 238, 1);
		border: 2px solid rgba(81, 203, 238, 1);
	}
	/*************************************************************/


	#posted_results_table{
		position: relative;
		display: none;
		cursor: default;
		border-radius: 3px;
		padding:10px 5px;
		width: 100%;
		left:-5px;
		top:8%;
	}

	table {
		width: 100%;
		text-align: center;
		font-size: 15px;
	    border-collapse: collapse;
	    border:2px solid #dadada;
		border-radius:5px;

	}
	table caption{
		text-align: left;
		margin-bottom: 5px;
	}
	tr.table_row_baby_data{
		background: #FFF;
	}

	td.table_avatar{
		padding:0;
	}

	td.table_baby_name,
	td.table_baby_activity,
	td.table_feed_time,
	td.table_notes{
		padding: 5px 0px 5px 5px;
	}